@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #171d23;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "IBM Plex Mono", monospace;
  letter-spacing: 0.25rem;
  text-align: center;
  color: aliceblue;
}
